<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Wednesday 2.21, 2:00-3:00 <span style="float:right;">Donegal, Ireland</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">This group of young musicians often sing (and speak) in Gaelic and play a variety of instruments. We visited them in 2016, when they hosted a jam with YTV. Donegal music is influenced by its close proximity to Scotland.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">County Donegal is in the northernmost part of Ireland and the fiddling from this region has so much Scottish influence that some people jokingly refuse to categorize it with the rest of Irish music.  There are tunes unique to this part of the country that are descended from strathspeys and it is not uncommon to find a trace of the Scottish snap in Donegal tunes.
</p>

<p style="font-weight: 300;">
<!--<a href="https://altan.ie">Website</a>--><a href = "https://www.facebook.com/an.crannog.3/">Facebook</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a>
</p>

<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fan.crannog.3%2Fvideos%2F622609317903495%2F&width=500&show_text=false&height=280&appId" width="500" height="280" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>