<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Sunday 4.18, 9:00-10:00 <span style="float:right;">Bollnäs, Sweden</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Staffan lives in Sweden, teaches traditional music, leads a youth group, and is part of a folk rock band with his sister Lena Jonsson.  They both teach in the US as well as Sweden, including at Ashokan Fiddle and Dance Camp in New York State.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Traditional Swedish music has similar roots to the rest of Scandinavia as well as Eastern Europe.  Different regions of Sweden have different traditions and different types are common in different parts of the country—for example, polskas are very common in southern Sweden—as it is in most musical traditions.  Tunes tend not to be named and are simply called after the person who wrote them, which can be confusing when there are several Polskas efter Snikar-Erik Olsson.  Scandinavian ornamentation and bowing is also strikingly different than Celtic traditions and certain tunes are not accented evenly on each beat.
</p>


<p style="font-weight: 300;">
<a href="https://www.bilda.nu/personer/staffan-jonsson">Website</a><a href = "https://www.facebook.com/SkenetMusic/">Facebook</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a><a href="https://open.spotify.com/track/272V6ebMzDmwcfPzjdMATc?si=rwQlg1nVTDOY-X0yzYipVg">Tune</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l0gbK87dNwo" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
</br>
<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IoByGeMQWtk" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>