<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Sunday 4.18, 3:00-4:00 <span style="float:right;">Bathurst, New Brunswick</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">The LeBlanc Family includes father Robin who plays keyboard, his wife Rebecca and his three daughters who play flute, fiddle, concertina and step dance. They have a small farm, grow their own food and try to maintain a sustainable lifestyle.  They have performed and taught at concerts, camps and schools in France and the US as well as New Brunswick and throughout Canada.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Parts of New Brunswick have a very strong Acadian tradition, as is common in the Canadian Maritimes.  Often this is in conjunction with Gaelic traditions occuring as well, and a strong population of Métis (mixed Indigenous and Scotch-Irish descendants) musicians.  Different regions have a predominance of different traditions but the music is not as well-defined as a provincial sound like in Quebec or Cape Breton.
</p>


<p style="font-weight: 300;">
<a href="http://www.robinleblanc.ca/">Website</a><a href = "https://www.facebook.com/familleleblanc/">Facebook</a><a href = "https://www.facebook.com/watch/familleleblanc/">Watch</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a></span>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/27pja5O3-0Y" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>