<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Wednesday 2.21, 1:00-2:00 <span style="float:right;">Donegal, Ireland</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Mairead is the lead fiddler and singer of the Irish band Altan; Nia is her daughter. In 2016 YTV stayed at the hostel in Donegal that is run by Mairead’s sister and we had a jam with An Cragg Og.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">County Donegal is in the northernmost part of Ireland and the fiddling from this region has so much Scottish influence that some people jokingly refuse to categorize it with the rest of Irish music.  There are tunes unique to this part of the country that are descended from strathspeys and it is not uncommon to find a trace of the Scottish snap in Donegal tunes.
</p>


<p style="font-weight: 300;">
<a href="https://altan.ie">Website</a><a href = "https://www.facebook.com/mairead.nimhaonaigh.3">Facebook</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/tSQyfFkxWoU" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>