<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Thursday 4.22, 5:00-6:30 <span style="float:right;">Joliette, Quebec</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Claude Méthé and Dana Whittle, husband and wife, also have a rich musical marriage. Their current band, Zigue, includes their son Amé and their daughter Beatrix Méthé, a fiddler and singer, who is also part of the band Rosier, formerly known as Les Poules a Colin (past winners of the YTV contest).  They have appeared many times in Vermont for YTV, the New World Festival in Randolph, and others.  Claude has led residencies with Fiddleheads at the Burlington Violin Shop,and besides her singing and guitar/bass accompaniment, Dana helps YTV with its web site.  Expect a fun-filled finale for the virtual tour, at the Méthés, from 3 locations - Montreal, Quebec City and Joliette.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Quebecois music is a mix of musical traditions from around France (which were far from standardized—some regions had Germanic influences, others Celtic, and still others Galician) and from the British Isles.  The music is often crooked, with extra measures and dropped beats, and involves a foot tapping pattern on reels and jigs.  There is a strong singing tradition in French; most of the songs border on something similar to the Gaelic mouth music tradition.  Joliette the traditional music hot spot in the southern part of the province.
</p>



<p style="font-weight: 300;">
<a href=" https://claudemethe.com">Website (Claude)</a><a href = "https://beatrixmethe.com/category/music/">Website (Beatrix)</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Eg4HFSy_tYE" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>