<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Tuesday 4.20, 10:00-11:00 <span style="float:right;">Orkney, Scotland</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Douglas teaches music at Kirkwall Grammar School in Kirkwall, Orkney, where he hosted the Touring Group during the 2018 Scotland visit. He performs with his band Saltfish Forty at festivals and concert halls in Europe and Canda. With Jennifer and Hazel Wrigley, Douglas is probably Orkney's best known, recorded and well traveled musician.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">The traditional music of the Orkney islands is similar to that in the rest of Scotland.  You will find many of the same types of tunes and dances, but there is a distinct influence from Scandinavia to the north.  Some of the polkas require only slight changes in ornamentation to sound like Norwegian hallings. 
</p>


<p style="font-weight: 300;">
<a href="http://saltfishforty.co.uk/about/">Website</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a>
</p>

<iframe width="560vw" height="315" src="https://www.youtube-nocookie.com/embed/_g7WYhsGOLg" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>