<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Thursday 4.22, 11:00-12:30 <span style="float:right;">Plockton, Scotland</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">This is a residental school, within a regional high school, in the Highlands of Scotland, across the bay from the Isle of Skye.  Students is the residential program are from all areas of Scotland, admitted after an audition to spend one or more years focusing on instruments, ensembles, performancne and recording.  Dougie toured internationally and recorded with the Battlefield Band before starting the school. When the Touring Group visited in the Scotland tour of 2018, the school were hosts for several nights, performed a communnity concert together and linked up for a late -night session and dance.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Plockton is located in the Scottish Highlands, not too far from the Isle of Skye.  This region is known for its strong piping tradition (thus the Highland Pipes) and many tunes in A mixolydian because of this.  When the Scots were conquered by the British, the piping tradition became what we know it as today—regimented and competitive, but very impressive—due to the instruments incorporation into the army.  Gaelic is also very prevalent in this region, for singing ballads and also for mouth music, which accentuates the rhythm of the tune, rather than the repetitive lyrics and can be used as a stand in for a piper or fiddler at a ceilidh.
</p>


<p style="font-weight: 300;">
<a href="https://www.musicplockton.org/the_centre.asp">Website</a><a href = "https://www.facebook.com/plocktonmusic">Facebook</a><a href="http://meet.google.com/ovq-eefg-wqb">Meet</a></span>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/aFPjtij1w6A" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>