<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Wednesday 2.21, 9:00-10:00 <span style="float:right;">Glasgow, Scotland</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">On many tours we explore one place of higher education where you could pursue traditional music more seriously. The Royal Conservatoire of Music is a place where you could major in the study of traditional music.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">This region is known for it’s strong piping tradition (thus the Highland Pipes) and many tunes in A mixolydian because of this.  When the Scots were conquered by the British, the piping tradition became what we know it as today—regimented and competitive, but very impressive—due to the instruments incorporation into the army.  Gaelic is also very prevalent in this region, for singing ballads and also for mouth music, which accentuates the rhythm of the tune, rather than the repetitive lyrics and can be used as a stand in for a piper or fiddler at a ceilidh.
</p>

<p style="font-weight: 300;">
<a href="https://www.rcs.ac.uk/courses/bmus-with-honours/traditional-music/">Website</a><a href = "https://www.facebook.com/rcsofficial">Facebook</a><a href="https://rcs-ac-uk.zoom.us/j/97686153663">Zoom</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/MPz4idu5MBY" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>