<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Tuesday 4.20, 10:00-11:00 <span style="float:right;">Rhinebeck, NY</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">The Strawberry Hill Fiddlers play traditional music as part of a comprehesive music organization based in the Rhinebeck area of the Hudson River Valley in New York.  They have visited and performed with the Touring Group several times over the years, and are one of the groups that have hosted us, as we have hosted them.  They often perform at the Flurry festival in Saratoga, New York.  Most recently the Touring Group visited them as the final stop on the return trip from the metro New York/New Jersey tour in April 2019.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">New York has a similar traditional music history to ours here in Vermont, but with a little less French.  A mostly Scotch-Irish tradition prevails and has evolved into a strong contra dance community. 
</p>

<p style="font-weight: 300;">
<a href="https://register.asapconnected.com/Courses.aspx?CourseGroupID=18637">Website</a><a href = "https://www.facebook.com/Strawberry-Hill-Fiddlers-257242114351958/">Facebook</a><a href="https://us02web.zoom.us/j/86866948039?pwd=NFgvaytxeVVpYnZDRFpBbk5HYXZNUT09">Zoom</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dtIcp-7kE20" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>